.analytics-content {
    border: 1px solid black;
    height: 100%;
}

.accordion-button {
    background-color: b#272d31 !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }

  .recent-transaction-item {
    border: 1px solid #dddddd;
    text-align: left;
  }
  

  .recent-transaction-date {
    border: 1px solid #dddddd;
    text-align: left;
    font-weight: bold;
  }

  .transaction-amount {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
    font-weight: bold;
  }

  .padded-cell {
    padding: 14px; 
  }

  .kpi-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: auto;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
  }

  .recharts-component {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: auto;
    border-radius: 15px;
    justify-content: center;
  }

  .recent-transaction-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    justify-content: center;
  }

  .transaction-rollup-container {
    justify-content: center;
  }

  .pagination-container {
    display: inline-block; 
}

.recent-transaction-header {
  border: 1px solid #dddddd;
  text-align: center;
}

