.role-wrapper {
    height: 2rem;
    display: flex;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.role-wrapper div {
    display: flex;
    justify-content: center;
}

.role-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: grey;
}

.separator {
    width: 0.1rem;
    background-color: black;
    height: 100%;
}

.highlighted {
    background-color: #6BD1E8;
    height: 100%;
}

.left-choice {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.right-choice {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.error-message {
    color: red;
    margin-bottom: 0.5rem;
}